name: specs-workflow

on:
    pull_request:
        branches:
        - '*'
    push:
        branches:
        - master
        - main
    workflow_dispatch:

jobs:
    specs:
        name: specs
        strategy:
          matrix:
            counmt: [1 ]
        runs-on: actuated-1cpu-1gb
        steps:
        - uses: actions/checkout@v1
        - name: Check specs
          run: |
            ./specs.sh
