name: specs-workflow

on:
    pull_request:
        branches:
        - '*'
    push:
        branches:
        - master
        - main
    workflow_dispatch:

jobs:
    specs:
        name: specs
        runs-on: [ actuated, kraker ]
        steps:
        - uses: actions/checkout@v1
        - name: Check specs
          run: |
            ./specs.sh
